@import 'base/normalize';
@import 'base/font';
@import 'utils/color';
@import 'utils/variables';
@import 'utils/placeholders';
@import 'base/container';
@import 'utils/mixin';
// @import 'components/page-header';
@import 'components/footer';
// body {
//     background-color: $prime-background-color;
//     color: $primaryColor;
// }
//modal
.backdrop {
    opacity: 1;
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

// feature
.features__box {
    background-color: $fon-color-sect;
}

// our-work
.ourworking-scn {
    display: none;
}

// our-team
.our-team-scn {
    background-color: $fon-color-sect;
}

// client
.our-client-scn {
    text-align: center;
    &__title {
        margin: 0 auto 50px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
}

// .our-client-list {
//     // display: flex;
//     // justify-content: center;
//     // flex-wrap: wrap;
//     // margin-left: -1 * $card-set-gap;
//     // margin-top: -1 * $card-set-gap;
//     &__item {
//         // flex-basis: calc(100% / 2 - $card-set-gap);
//         // margin-left: $card-set-gap;
//         // margin-top: $card-set-gap;
//         // // &:not(:last-child) {
//         // //     margin-right: 30px;
//         // }
//     }
//     &__link {
//         // display: inline-flex;
//         // justify-content: center;
//         // align-items: center;
//         // box-sizing: border-box;
//         fill: $colorSocialLink;
//         border: 1px solid $colorSocialLink;
//         width: 170px;
//         height: 90px;
//         border-radius: 4px;
//         @include animation (fill);
//         &:focus,
//         &:hover {
//             border-color: $baseColor;
//             fill: $baseColor;
//         }
//     }
// }
// @media screen and (min-width:480px) {
//     .our-client-list {
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//         margin-left: -1 * $card-set-gap;
//         margin-top: -1 * $card-set-gap;
//         &__item {
//             flex-basis: calc(100% / 2 - $card-set-gap);
//             margin-left: $card-set-gap;
//             margin-top: $card-set-gap;
//         }
//         &__link {
//             display: inline-flex;
//             justify-content: center;
//             align-items: center;
//             box-sizing: border-box;
//         }
//     }
// }
// @media screen and (min-width:768px) {
//     .our-client-list {
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//         margin-left: -1 * $card-set-gap;
//         margin-top: -1 * $card-set-gap;
//         &__item {
//             flex-basis: calc(100% / 2 - $card-set-gap);
//             margin-left: $card-set-gap;
//             margin-top: $card-set-gap;
//             // &:not(:last-child) {
//             //     margin-right: 30px;
//             // }
//         }
//         &__link {
//             display: inline-flex;
//             justify-content: center;
//             align-items: center;
//             box-sizing: border-box;
//         }
//     }
// }
// @media screen and (min-width:1140px) {
//     .our-client-list {
//         margin: 0;
//         display: inline-flex;
//         justify-content: center;
//         &__item {
//             &:not(:last-child) {
//                 margin: 0 30px 0 0;
//             }
//         }
//         &__link {
//             display: inline-flex;
//             justify-content: center;
//             align-items: center;
//             box-sizing: border-box;
//         }
//     }
// }
// footer