        //normalize
        @import 'base/normalize';
        @import 'base/font';
        @import 'utils/color';
        @import 'base/container';
        @import 'utils/variables';
        @import 'utils/mixin';
        @import 'utils/placeholders';
        @import 'components/page-header';
        @import 'components/footer';
        // body color 
        body {
            background-color: $prime-background-color;
            color: $primaryColor;
        }
        
        //   hero   
        .hero-scn {
            margin-left: auto;
            margin-right: auto;
            outline: 1px solid black;
            background: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../photo/hero/overlay.jpg), #2F303A;
            background-position: center;
            background-repeat: no-repeat;
            padding-bottom: 200px;
            &__box {
                text-align: center;
                &__title {
                    padding-top: 200px;
                    margin-top: 0;
                    margin-bottom: 30px;
                    width: 696px;
                    margin-left: auto;
                    margin-right: auto;
                    color: $prime-background-color;
                    font-family: Roboto;
                    font-size: 44px;
                    font-weight: 900;
                    line-height: 60px;
                    letter-spacing: 0.06em;
                }
            }
        }
        
        .hero-btn {
            border-color: #2196F3;
            color: $prime-background-color;
            width: 200px;
            height: 50px;
            font-family: Roboto;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.06em;
            border-radius: 4px;
            cursor: pointer;
            outline: transparent;
            background: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
        /*  modal screen */
        
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 1;
            @include animation (opacity);
            &.is-hidden {
                opacity: 0;
                pointer-events: none;
            }
        }
        
        .modal-scr {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 528px;
            background-color: $prime-background-color;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        
        .modal-btn-close {
            position: absolute;
            box-sizing: border-box;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
            fill: rgb(0, 0, 0);
            background: #FFFFFF;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.1);
            @include animation(all);
            &:hover,
            &:focus {
                fill: #2196F3;
            }
        }
        
        .modal-container {
            margin: 40px;
            &__title {
                margin: 0 0 12px;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #212121;
            }
        }
        
        .form {
            display: block;
        }
        
        .form-field {
            display: flex;
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &__title {
                margin-bottom: 4px;
                font-family: Roboto;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.01em;
                color: #757575;
            }
        }
        
        .input-container {
            position: relative;
            display: flex;
            flex-direction: column;
            &__input-svg {
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translateY(-50%);
                fill: #212121;
            }
            &__information {
                padding: 12px 32px;
                border-radius: 4px;
                outline: none;
                border: 1px solid rgba(33, 33, 33, 0.2);
                line-height: 12px;
                @include animation (background-color);
                &:hover,
                &:focus,
                &:hover~.input-container__input-svg,
                &:focus~.input-container__input-svg {
                    border-color: $baseColor;
                    cursor: text;
                    fill: $baseColor;
                }
            }
        }
        
        .modal-input-area {
            display: block;
            border: 1px solid rgba(33, 33, 33, 0.2);
            padding: 16px 12px;
            border-radius: 4px;
            resize: none;
            @include animation(border-color);
            &:focus,
            &:hover {
                outline: none;
                border-color: $baseColor;
            }
        }
        
        .check-policy-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0 30px 30px;
            &__text {
                font-family: Roboto;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: #757575;
            }
        }
        
        .check-policy-input:checked~.policy-check-box,
        .check-policy-input:checked~.modal-svg-check {
            fill: $prime-background-color;
            background-color: $baseColor;
            border-color: $baseColor;
            overflow: hidden;
        }
        
        .policy-check-box {
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            cursor: pointer;
            width: 14px;
            height: 13px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-color: #000000;
            border-radius: 2px;
            &:focus {
                outline: 2px solid $primaryColor;
            }
            &__svg {
                fill: $prime-background-color;
                transform: translateY(-20%);
            }
            &__text-link {
                text-decoration-line: underline;
                color: #2196F3;
            }
        }
        
        .modal-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            &__submit {
                width: 200px;
                height: 50px;
                color: $prime-background-color;
                background-color: $baseColor;
                border: $baseColor;
                cursor: pointer;
                border-radius: 4px;
                @include animation (all);
                font-family: Roboto;
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.06em;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                &:focus,
                &:hover {
                    background-color: #188CE8;
                    cursor: pointer;
                }
            }
        }
        /*  feature container   */
        
        .features-container {
            padding-top: 94px;
            padding-bottom: 94px;
        }
        
        .features {
            display: flex;
            justify-content: space-between;
            padding-inline-start: 0;
            &__item {
                width: 270px;
            }
            &__box {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                height: 120px;
                max-width: 270px;
                background-color: #F5F4FA;
                margin-bottom: 30px;
            }
            &__title {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-align: left;
            }
            &__text {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.03em;
                text-align: left;
            }
        }
        
        //   ourwork     
        .ourworking-scn {
            padding-bottom: 94px;
            &__title {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #212121;
            }
        }
        
        .thump-space {
            display: flex;
            margin: 0;
            &__list {
                position: relative;
                max-width: 370px;
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__text-cont {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(47, 48, 58, 0.8);
                &__text {
                    padding: 27px 0;
                    margin: 0;
                    font-family: Roboto;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }
        
        //  our team    
        .our-team-scn {
            padding-top: 94px;
            padding-bottom: 94px;
            background-color: #F5F4FA;
            &__title {
                margin: 0;
                padding-bottom: 50px;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 700;
                line-height: 42px;
                letter-spacing: 0.03em;
                text-align: center;
            }
        }
        
        .our-team-card-list {
            display: flex;
        }
        
        .staff-card {
            background-color: $prime-background-color;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            &:not(:last-child) {
                margin-right: 30px;
            }
            &__about {
                padding-top: 30px;
                padding-bottom: 30px;
            }
            &__name {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0.03em;
                text-align: center;
            }
            &__profession {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0.03em;
                text-align: center;
            }
        }
        /*  соц сети конды  */
        
        .master-social {
            text-align: center;
            &__item {
                display: inline-flex;
                display: inline-flex;
                justify-content: center;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
            &__link {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                @include animation(all);
                fill: $colorSocialLink;
                &:hover,
                &:focus {
                    background-color: $baseColor;
                    fill: #ffffff
                }
            }
        }
        
        //  наши клиенты    
        .our-client-scn {
            display: flex;
            justify-content: space-between;
            padding-top: 94px;
            padding-bottom: 94px;
            &__title {
                margin: 0 auto 50px;
                font-family: Roboto;
                font-weight: bold;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                letter-spacing: 0.03em;
                color: #212121;
            }
        }
        
        .our-client-list {
            display: inline-flex;
            justify-content: center;
            &__item {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
            &__link {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                fill: $colorSocialLink;
                border: 1px solid $colorSocialLink;
                width: 170px;
                height: 90px;
                border-radius: 4px;
                @include animation (fill);
                &:focus,
                &:hover {
                    border-color: $baseColor;
                    fill: $baseColor;
                }
            }
        }
        
        // стили portfolios buttons
        .portfolio-scr {
            padding-top: 94px;
            padding-bottom: 94px;
        }
        /* buttons */
        
        .portfolio-btn {
            margin-bottom: 50px;
            &__list {
                display: flex;
                justify-content: center;
            }
            &__item:not(:last-child) {
                margin-right: 8px;
            }
            &__btn {
                color: #212121;
                background-color: #F5F4FA;
                padding: 6px 22px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0.03em;
                outline: transparent;
                border: #F5F4FA;
                border-radius: 4px;
                @include animation(all);
                &:focus,
                &:hover {
                    cursor: pointer;
                    background-color: $baseColor;
                    color: $prime-background-color;
                    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                }
            }
        }
        
        //  коробка с фото    
        .thumb-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1 * $card-set-gap;
            margin-top: -1 * $card-set-gap;
            &__item {
                display: block;
                flex-basis: calc(100% / 3 - $card-set-gap);
                margin-left: $card-set-gap;
                margin-top: $card-set-gap;
            }
            &__link {
                position: relative;
                display: block;
                background: #FFFFFF;
                @include animation (box-shadow);
                &:focus,
                &:hover {
                    background: #FFFFFF;
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
                    outline: none;
                }
                &:focus .box-about-img__about,
                &:hover .box-about-img__about {
                    transform: translateY(0);
                }
            }
        }
        
        .box-about-img {
            position: relative;
            overflow: hidden;
            &__about {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                transform: translateY(101%);
                background-color: rgba(33, 150, 243, 0.9);
                @include animation(transform);
                box-shadow: none;
            }
            &__text {
                color: $prime-background-color;
                background-color: rgba(33, 153, 243, 0.9);
                margin: 0;
                padding: 63px 24px;
                font-family: Roboto;
                font-weight: normal;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.03em;
            }
        }
        
        //our projects 
        .text-container {
            padding: 20px 24px;
            border-right: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            border-left: 1px solid #eeeeee;
            &__title {
                margin: 0;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 36px;
                letter-spacing: 0.06em;
                text-align: left;
                color: #212121;
            }
            &__text {
                margin: 0;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.03em;
                text-align: left;
                color: $colorSocialLink;
            }
        }