.features-container {
    padding-bottom: 60px;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -1 * $card-set-gap;
    margin-left: -1 * $card-set-gap;
    &__item {
        margin-top: $card-set-gap;
        margin-left: $card-set-gap;
        @media screen and (min-width: 768px) {
            width: calc((100% - 2 * 30px) / 2);
        }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 4 * 30px) / 4);
        }
    }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        height: 120px;
        background-color: #F5F4FA;
        margin-bottom: 30px;
    }
    &__title {
        text-align: center;
        @extend %font-mini-title;
    }
    &__text {
        @extend %font-feature-text;
    }
}