.footer {
    background-color: $footer-Container-Color;
    &__general-box {
        text-align: center;
        padding: 60px 15px;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
        }
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }
}

.logo-web-foot {
    @include logo($baseColor, Raleway);
}

.logo-studio-foot {
    @include logo ($prime-background-color, Raleway);
}

.connect {
    &__address {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        font-style: normal;
        color: $prime-background-color;
    }
    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
    &__how-connect-link-footer {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.8);
    }
}

.general-social-link-box {
    &__title {
        @extend %footer-title
    }
    &__link {
        fill: $prime-background-color;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        @include animation(background-color);
        &:focus,
        &:hover {
            background-color: $baseColor;
        }
    }
}

.general-social-link-box {
    &__title {
        text-align: center;
        @extend %footer-title;
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: inline-flex;
        justify-content: center;
    }
    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: $prime-background-color;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        @include animation(background-color);
        &:focus,
        &:hover {
            background-color: $baseColor;
        }
    }
}

//subscribe
.subscribe-box {
    text-align: center;
    margin-top: 60px;
    align-items: baseline;
    &__title {
        @extend %footer-title;
        text-align: center;
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }
    @media screen and (min-width: 1200px) {
        text-align: start;
        margin-top: 0;
    }
}

.subscribe-box-form {
    // width: 450px;
    // box-sizing: content-box;
    &__input-form {
        padding-left: 16px;
        // margin-right: 12px;
        width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        @extend %font-text-input;
        border-radius: 4px;
        background-color: $footer-Container-Color;
        color: whitesmoke;
        @extend %font-text-input;
        @media screen and (min-width: 1200px) {
            width: 370px;
        }
    }
    @media screen and (min-width: 1200px) {
        display: inline-flex;
    }
}

//subscribe button
.subscribe-btn {
    margin-top: 20px;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background-color: $baseColor;
    border-color: $baseColor;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        @extend %font-text-btn;
        color: $prime-background-color;
    }
    &__svg {
        margin-left: 10px;
        fill: $prime-background-color;
    }
    &:hover,
    &:focus {
        cursor: pointer;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-right: auto;
    }
}