.footer {
    background-color: $footer-Container-Color;
    &__general-box {
        text-align: center;
    }
}

// .logo-web-foot {
//     @include logo($baseColor, Raleway);
// }
// .logo-studio-foot {
//     @include logo ($prime-background-color, Raleway);
// }
// @media screen and (min-width:480px) {
//     .footer__general-box {}
// }
// @media screen and (min-width:768px) {
//     .footer__general-box {}
// }
// @media screen and (min-width:1200px) {
//     .footer__general-box {}
// }
.connect {
    &__address {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        font-style: normal;
        color: $prime-background-color;
    }
    // &__item:not(:last-child) {
    //     margin-bottom: 9px;
    // }
    &__how-connect-link-footer {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.8);
    }
}

.general-social-link-box {
    &__title {
        @extend %footer-title
    }
    &__item {}
    &__link {
        fill: $prime-background-color;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        @include animation(background-color);
        &:focus,
        &:hover {
            background-color: $baseColor;
        }
    }
}

// //subscribe
.subscribe-box {
    &__title {
        @extend %footer-title;
    }
}

.subscribe-box-form {
    &__input-form {
        // padding-left: 16px;
        // margin-right: 12px;
        width: 360px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: $footer-Container-Color;
        color: whitesmoke;
    }
}

//subscribe button
.subscribe-btn {
    width: 200px;
    height: 50px;
    background-color: $baseColor;
    border-color: $baseColor;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: $prime-background-color;
    }
    &__svg {
        margin-left: 10px;
        fill: $prime-background-color;
    }
    &:hover,
    &:focus {
        cursor: pointer;
    }
}

// .connect {
//     &__address {
//         padding-top: 20px;
//         padding-bottom: 9px;
//         font-family: Roboto;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 24px;
//         letter-spacing: 0.03em;
//         font-style: normal;
//         color: $prime-background-color;
//     }
//     &__item:not(:last-child) {
//         margin-bottom: 9px;
//     }
//     &__how-connect-link-footer {
//         font-family: Roboto;
//         font-size: 14px;
//         font-weight: 400;
//         line-height: 24px;
//         letter-spacing: 0.03em;
//         text-align: left;
//         color: rgba(255, 255, 255, 0.8);
//     }
// }
// .general-social-link-box {
//     &__title {
//         text-align: center;
//         @extend %footer-title
//     }
//     &__item {
//         display: inline-flex;
//         justify-content: center;
//     }
//     &__link {
//         display: inline-flex;
//         justify-content: center;
//         align-items: center;
//         fill: $prime-background-color;
//         width: 44px;
//         height: 44px;
//         border-radius: 50%;
//         background-color: rgba(255, 255, 255, 0.1);
//         @include animation(background-color);
//         &:focus,
//         &:hover {
//             background-color: $baseColor;
//         }
//     }
// }
// // //subscribe
// .subscribe-box {
//     text-align: center;
//     &__title {
//         @extend %footer-title;
//         text-align: center;
//     }
// }
// .subscribe-box-form {
//     &__input-form {
//         padding-left: 16px;
//         width: 360px;
//         height: 50px;
//         box-sizing: border-box;
//         border: 1px solid rgba(255, 255, 255, 0.3);
//         filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//         border-radius: 4px;
//         margin-right: 12px;
//         background-color: $footer-Container-Color;
//         color: whitesmoke;
//     }
// }
// //subscribe button
// .subscribe-btn {
//     width: 200px;
//     height: 50px;
//     background-color: $baseColor;
//     border-color: $baseColor;
//     background: #2196F3;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     cursor: pointer;
//     border-radius: 4px;
//     &__label {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
//     &__title {
//         font-family: Roboto;
//         font-style: normal;
//         font-weight: bold;
//         font-size: 16px;
//         line-height: 30px;
//         letter-spacing: 0.06em;
//         color: $prime-background-color;
//     }
//     &__svg {
//         margin-left: 10px;
//         fill: $prime-background-color;
//     }
//     &:hover,
//     &:focus {
//         cursor: pointer;
//     }
// }