.hero-scn {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 400px;
    outline: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photo/img/mobileovl.jpg"), ;
        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
            .box {
                background-image: url("../photo/img/mobileovl@2x.jpg");
            }
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
            .box {
                background-image: url("../photo/img/mobileovl@3x.jpg");
            }
        }
    }
    @media screen and (min-width: 768px) {
        margin-top: 81px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photo/img/tabletovl.jpg"), ;
        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
            .box {
                background-image: url("../photo/img/tabletovl@2x.jpg");
            }
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
            .box {
                background-image: url("../photo/img/tabletovl@3x.jpg");
            }
        }
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 94px;
        height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../photo/img/desktopovl.jpg"), ;
        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
            .box {
                background-image: url("../photo/img/desktopovl@2x.jpg");
            }
        }
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
            .box {
                background-image: url("../photo/img/desktopovl@3x.jpg");
            }
        }
    }
}

.hero-scn__box {
    text-align: center;
    &__title {
        margin-left: auto;
        margin-right: auto;
        padding-top: 118px;
        margin-top: 0;
        margin-bottom: 30px;
        color: $prime-background-color;
        @extend %font-hero-title;
        @media screen and (min-width: 480px) {
            width: 360px;
        }
        @media screen and (min-width: 1200px) {
            padding-top: 200px;
            width: 700px;
        }
    }
}

.hero-btn {
    border-color: #2196F3;
    color: $prime-background-color;
    width: 200px;
    height: 50px;
    @extend %font-button;
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}