           //  наши клиенты    
           .our-client-scn {
               padding-top: 60px;
               padding-bottom: 60px;
               display: flex;
               justify-content: space-between;
               @media screen and(min-width: 1199.9px) {
                   padding-top: 94px;
                   padding-bottom: 94px;
               }
               &__title {
                   margin: 0 auto 30px;
                   text-align: center;
                   @extend %font-title-section;
                   color: #212121;
                   @media screen and(min-width: 1200px) {
                       margin: 0 auto 50px;
                   }
               }
           }
           
           .our-client-list {
               display: flex;
               flex-wrap: wrap;
               margin-top: -1 * $card-set-gap;
               margin-left: -1 * $card-set-gap;
               &__item {
                   display: block;
                   width: calc((100% - 2 * 30px) / 2);
                   margin-top: $card-set-gap;
                   margin-left: $card-set-gap;
                   @media screen and (min-width: 768px) {
                       width: calc((100% - 3 * 30px) / 3);
                   }
                   @media screen and (min-width: 1200px) {
                       width: calc((100% - 6 * 30px) / 6);
                   }
               }
               &__link {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   fill: $colorSocialLink;
                   border: 1px solid $colorSocialLink;
                   height: 90px;
                   border-radius: 4px;
                   @include animation (fill);
                   &:focus,
                   &:hover {
                       border-color: $baseColor;
                       fill: $baseColor;
                   }
               }
           }