$primaryColor: rgba(0, 0, 0, 0.8);
$baseColor:#2196F3;
$prime-text-color: #000000;
$prime-background-color:#ffffff;
$colorSocialLink:#AFB1B8;
$connectColor: #757575;
$footer-Container-Color: #2F303A;
$fon-color-sect:#F5F4FA;